/* --- VARIABLES --- */
:root{
    --font-head: 'Francois One', sans-serif;
    --font-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --color-main: rgb(7, 43, 86);
    --color-sec: rgb(199, 0, 125);
    --color-light: AliceBlue;
    --bg-titles: var(--color-main);
    --bg-titles-dual: var(--color-sec);
    --bg-slide: rgb(231, 241, 253);
    --bg-slide-dual: white;
    --bg-slide-tri: var(--bg-slide-dual);
    --mg-main: 60px;
    --color-wrong: rgb(249,73,73);
    --color-right: rgb(106,216,70);
}
/* --- GLOBAL STYLING --- */
body{
    background: linear-gradient(45deg, rgb(0,0,0) 0%, rgb(15,15,15) 100%);
    background-clip: padding-box;
    padding: 10px 10px;
    margin: 0;
    font-family: var(--font-main);
    font-size: 24px;
}
h1,h2,h3,h4,h5{
    position: relative;
    font-family: var(--font-head);
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: var(--color-light);
    text-shadow: -2px 2px 5px rgba(0,0,0,.5);
    margin: calc(-1 * var(--mg-main)) calc(-1 * var(--mg-main)) var(--mg-main) calc(-1 * var(--mg-main)) ;
}
h1>span,
h2>span,
h3>span{
    position: relative;    
    z-index: 1;
}
h1:before,
h2:before,
h3:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-45deg, var(--bg-titles) 0, var(--bg-titles) 50%, var(--bg-titles-dual) 50%, var(--bg-titles-dual) 100%);
    opacity: .8;
}
h1{
    font-size: 7vmax;
    padding: 15vh 0;
}
.full-title h1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 5vmax;
    padding: 5vh 0;
}
h3{
    font-size: 1em;
    padding: 10px;
}
h3 a{
    text-decoration: none;
    color: var(--color-main);
}
h3 a:visited{
    color: var(--color-main);
}
h3 a:active{
    color: var(--color-main);
}
h3 a:hover{
    color: var(--color-light);
}
h3 a,
h3 small{
    display: inline-block;
    vertical-align: middle;
}
h3 small{
    text-transform: none;
}
a{
    transition: color 200ms;
}
a:not(.slider-control){
    color: var(--color-main);
}
a:not(.slider-control):visited{
    color: var(--color-main);
}
a:not(.slider-control):active{
    color: var(--color-main);
}
a:not(.slider-control):hover{
    color: var(--color-sec);
}
img{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
ul,ol{
    display: inline-block;
    max-width: 80%;
    margin: 0;
    text-align: left;
}
ul{
    list-style: none;
    padding: 0;
}
ul > li,
ol > li{
    margin-bottom: 1em;
}
ul.sample{
    display: block;
    max-width: none;
}
ul.sample > li{
    display: block;
    white-space: nowrap;
}
ul.sample > li:last-child{
    margin-bottom: 0;
}
ul:not(.sample) > li:before{
    content:'';
    background-color: var(--color-main);
    margin-right: 0.3em;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
ul > li > ul{
    margin-top: 1em;
    margin-left: 2em;
}
ul > li > ul > li:before{
    background-color: transparent;
    border: 2px solid var(--color-main);
    width: 0.15em;
    height: 0.15em;
}
/* --- HELPERS --- */
.color-main{
    color: var(--color-main);
}
.color-secondary{
    color: var(--color-sec);
}
.color-right{
    color: var(--color-right);
}
.color-wrong{
    color: var(--color-wrong);
}
.bg-main{
    background-color: var(--color-main);
}
.bg-secondary{
    background-color: var(--color-sec);
}
.bg-light{
    background-color: var(--color-light);
}
.bg-right{
    background-color: var(--color-right);
}
.bg-wrong{
    background-color: var(--color-wrong);
}
.shadow{
    box-shadow: -2px 2px 5px rgba(0,0,0,.5);
}
.text-center{
    text-align: center;
}
.text-center h3{
    text-align: left;
}
.text-center ul{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.text-center ul ul{
    margin-left: 2em;
    margin-right: 0;
}
.flex{
    display: flex;
}
.inline-flex{
    display: inline-flex;
    vertical-align: middle;
}
.inline{
    display: inline-block;
    vertical-align: middle;
}
.p{
    padding: 1em;
}
.m{
    margin: 1em;
}
.m-t{
    margin-top: 1em;
}
.m-b{
    margin-bottom: 1em;
}
.m-v{
    margin-top: 1em;
    margin-bottom: 1em;
}
.m-l{
    margin-left: 1em;
}
.m-r{
    margin-right: 1em;
}
.m-x{
    margin-left: 1em;
    margin-right: 1em;
}
.m-2{
    margin: 2em;
}
.m-t-2{
    margin-top: 2em;
}
.m-b-2{
    margin-bottom: 2em;
}
.m-v-2{
    margin-top: 2em;
    margin-bottom: 2em;
}
.m-l-2{
    margin-left: 2em;
}
.m-r-2{
    margin-right: 2em;
}
.m-x-2{
    margin-left: 2em;
    margin-right: 2em;
}
/* --- CODE BLOCK --- */
xmp{
    position: relative;
    display: inline-block;
    margin: 0 0 2em;
    background-color: var(--color-light);
    padding: 1em 2em;
    border-top: 10px solid var(--color-main);
    box-shadow: -2px 2px 5px rgba(0,0,0,.5);
    vertical-align: middle;
    font-size: 0.8em;
    text-align: left;
}
xmp:before{
    position: absolute;
    top: 0.5em;
    left: 1em;
    max-width: 50%;
    content: '{' attr(lang) '}';
    font-family: var(--font-main);
    color: var(--color-main);
    opacity: .3;
}
xmp:after{
    position: absolute;
    top: 0.5em;
    right: 1em;
    content: attr(comment);
    font-family: var(--font-main);
    color: var(--color-main);
    opacity: .6;
}
xmp[right]{
    border-top-color:var(--color-right);
}
xmp[right]:after{
    color: var(--color-right);
    content: attr(comment) 	" \2714";
}
xmp[wrong]{
    border-top-color:var(--color-wrong);
}
xmp[wrong]:after{
    color: var(--color-wrong);
    content: attr(comment) 	" \2718";
}
code{
    padding: 0.1em 0.25em;
    background-color: var(--color-light);
    box-shadow: -2px 2px 5px rgba(0,0,0,.5);
    font-size: 0.8em;
    border-radius: 5px;
    margin: 0 0.25em;
    vertical-align: middle;
}
/* --- BLOCKQUOTE --- */
blockquote{
    display: inline-block;
    margin: 0 0 2em;
    background-color: var(--color-light);
    padding: 2em 2em 1em;
    border-left: 10px solid var(--color-sec);
    box-shadow: -2px 2px 5px rgba(0,0,0,.5);
}
blockquote p{
    position: relative;
    margin-top: 0;
    font-family: var(--font-head);
    font-size: 1.2em;
}
blockquote p:before,
blockquote p:after{
    position: absolute;
    line-height: 1;
    color: var(--color-sec);
    font-family: var(--font-head);
    font-size: 3em;
}
blockquote p:before{
    top: -0.5em;
    left: 0;
    content: open-quote;
}
blockquote p:after{
    bottom: -1em;
    right: 0;
    content: close-quote;
}
blockquote cite{
    margin-left: 0.5em;
}
/* --- TABLE OF CONTENTS --- */
.table-contents{
    margin: auto;
    padding-left: 0;
    text-align: left;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-main);

}
.table-contents li{
    margin-bottom: 1em;
}
.table-contents li a{
    position: relative;
    text-decoration: none;
}
/* --- SLIDER STYLING --- */
@keyframes slideToBottomFadeIn{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideToTopFadeIn{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideToLeftFadeIn{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideToRightFadeIn{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFadeIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes pulse{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.slider{
    position: relative;
    border: 1px solid rgba(255,255,255,.2);
    margin:0;
    border-radius: 4px;
    padding: 0 90px;
    width: calc(100% - 180px);
    height: calc(100vh - 20px - 2px);
    overflow: hidden;
}
.slider-control{
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--mg-main);
    opacity: 0;
    z-index: 2;
    left: 0;
    right: auto;
    background: linear-gradient(to right, var(--color-main) 0%, transparent 30%);
    font-size: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-control:hover{
    opacity: .2;
}
.slider-control.next{
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 70%, var(--color-main) 100%);
}
.slide{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--mg-main);
    z-index: 1;
    color: var(--color-main);
    opacity: 0;
    background-color:var(--bg-slide);
    overflow-y: scroll;
    overflow-x: hidden;
}
.slide::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}
.slide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.slide::-webkit-scrollbar-thumb {
    background-color: var(--color-sec);
    border-radius: 2px;
}
.slide:target ~ .slide:last-of-type,
.slide{
    display: none;
}
.slide:last-of-type,
.slide:target{
    display: block;
    animation: slideToRightFadeIn 200ms ease-in 5ms 1 forwards;
}
.slide:target ~ .slide:last-of-type>.slider-control,
.slide>.slider-control{
    display: none;
}
.slide:last-of-type>.slider-control,
.slide:target>.slider-control{
    display: flex;
}
.slide.scrollable:after{
    content: '';
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: var(--color-sec) transparent transparent transparent;
    display: block;
    pointer-events: none;
    opacity: 0;
    animation: pulse 2s ease-out 2s infinite alternate;
}
/* --- SLIDER OPTIONS --- */
.slider.fade-in .slide:last-of-type,
.slider.fade-in .slide:target{
    animation: slideFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.fade-in.to-right .slide:last-of-type,
.slider.fade-in.to-right .slide:target{
    animation: slideToRightFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.fade-in.to-left .slide:last-of-type,
.slider.fade-in.to-left .slide:target{
    animation: slideToLeftFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.fade-in.to-top .slide:last-of-type,
.slider.fade-in.to-top .slide:target{
    animation: slideToTopFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.fade-in.to-bottom .slide:last-of-type,
.slider.fade-in.to-bottom .slide:target{
    animation: slideToBottomFadeIn 200ms ease-in 5ms 1 forwards;
}
.slider.seigaiha .slide{
    background-image:
    radial-gradient(circle at 100% 150%, var(--bg-slide) 24%, var(--bg-slide-dual) 24%, var(--bg-slide-dual) 28%, var(--bg-slide) 28%, var(--bg-slide) 36%, var(--bg-slide-dual) 36%, var(--bg-slide-dual) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, var(--bg-slide) 24%, var(--bg-slide-dual) 24%, var(--bg-slide-dual) 28%, var(--bg-slide) 28%, var(--bg-slide) 36%, var(--bg-slide-dual) 36%, var(--bg-slide-dual) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, var(--bg-slide-dual) 10%, var(--bg-slide) 10%, var(--bg-slide) 23%, var(--bg-slide-dual) 23%, var(--bg-slide-dual) 30%, var(--bg-slide) 30%, var(--bg-slide) 43%, var(--bg-slide-dual) 43%, var(--bg-slide-dual) 50%, var(--bg-slide) 50%, var(--bg-slide) 63%, var(--bg-slide-dual) 63%, var(--bg-slide-dual) 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, var(--bg-slide-dual) 5%, var(--bg-slide) 5%, var(--bg-slide) 15%, var(--bg-slide-dual) 15%, var(--bg-slide-dual) 20%, var(--bg-slide) 20%, var(--bg-slide) 29%, var(--bg-slide-dual) 29%, var(--bg-slide-dual) 34%, var(--bg-slide) 34%, var(--bg-slide) 44%, var(--bg-slide-dual) 44%, var(--bg-slide-dual) 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, var(--bg-slide-dual) 5%, var(--bg-slide) 5%, var(--bg-slide) 15%, var(--bg-slide-dual) 15%, var(--bg-slide-dual) 20%, var(--bg-slide) 20%, var(--bg-slide) 29%, var(--bg-slide-dual) 29%, var(--bg-slide-dual) 34%, var(--bg-slide) 34%, var(--bg-slide) 44%, var(--bg-slide-dual) 44%, var(--bg-slide-dual) 49%, transparent 49%, transparent);
    background-size: 60px 30px;    
}
.slider.rombes .slide{
    background:
    linear-gradient(115deg, transparent 75%, var(--bg-slide-dual) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, var(--bg-slide-dual) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, var(--bg-slide-dual) 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, var(--bg-slide-dual) 75%) 7px -15px,
    var(--bg-slide);
    background-size: 15px 30px;
}
.slider.weaves .slide{
    background:
    linear-gradient(135deg, var(--bg-slide) 21px, var(--bg-slide-dual) 22px, var(--bg-slide-dual) 24px, transparent 24px, transparent 67px, var(--bg-slide-dual) 67px, var(--bg-slide-dual) 69px, transparent 69px),
    linear-gradient(225deg, var(--bg-slide) 21px, var(--bg-slide-dual) 22px, var(--bg-slide-dual) 24px, transparent 24px, transparent 67px, var(--bg-slide-dual) 67px, var(--bg-slide-dual) 69px, transparent 69px)0 64px;
    background-color:var(--bg-slide);
    background-size: 64px 128px;
}
.slider.cross .slide{
    background:
    radial-gradient(circle, transparent 20%, var(--bg-slide) 20%, var(--bg-slide) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, var(--bg-slide) 20%, var(--bg-slide) 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(var(--bg-slide-dual) 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, var(--bg-slide-dual) 8px, transparent 8px) -4px 0;
    background-color: var(--bg-slide);
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
.slider.dots .slide{
    background-image: radial-gradient(var(--bg-slide-dual) 15%, transparent 16%),
    radial-gradient(var(--bg-slide-dual) 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.slider.crossdots .slide{
    background:
    radial-gradient(var(--bg-slide-dual) 3px, transparent 4px),
    radial-gradient(var(--bg-slide-dual) 3px, transparent 4px),
    linear-gradient(var(--bg-slide) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, var(--bg-slide-tri) 75px, var(--bg-slide-tri) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, var(--bg-slide-tri) 76px, var(--bg-slide-tri) 77px, transparent 78px, transparent 109px),
    var(--bg-slide);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.slider.carbon .slide{
    background:
    radial-gradient(var(--bg-slide-dual) 15%, transparent 16%) 0 0,
    radial-gradient(var(--bg-slide-dual) 15%, transparent 16%) 8px 8px,
    radial-gradient(var(--bg-slide-tri) 15%, transparent 20%) 0 1px,
    radial-gradient(var(--bg-slide-tri) 15%, transparent 20%) 8px 9px;
    background-color:var(--bg-slide);
    background-size:16px 16px;
}
.slider.check .slide{
    background-image: linear-gradient(45deg, var(--bg-slide-dual) 25%, transparent 25%, transparent 75%, var(--bg-slide-dual) 75%, var(--bg-slide-dual)),
    linear-gradient(45deg, var(--bg-slide-dual) 25%, transparent 25%, transparent 75%, var(--bg-slide-dual) 75%, var(--bg-slide-dual));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.slider.cubes .slide{
    background-image: linear-gradient(30deg, var(--bg-slide-tri) 12%, transparent 12.5%, transparent 87%, var(--bg-slide-tri) 87.5%, var(--bg-slide-tri)),
    linear-gradient(150deg, var(--bg-slide-tri) 12%, transparent 12.5%, transparent 87%, var(--bg-slide-tri) 87.5%, var(--bg-slide-tri)),
    linear-gradient(30deg, var(--bg-slide-tri) 12%, transparent 12.5%, transparent 87%, var(--bg-slide-tri) 87.5%, var(--bg-slide-tri)),
    linear-gradient(150deg, var(--bg-slide-tri) 12%, transparent 12.5%, transparent 87%, var(--bg-slide-tri) 87.5%, var(--bg-slide-tri)),
    linear-gradient(60deg, var(--bg-slide-dual) 25%, transparent 25.5%, transparent 75%, var(--bg-slide-dual) 75%, var(--bg-slide-dual)),
    linear-gradient(60deg, var(--bg-slide-dual) 25%, transparent 25.5%, transparent 75%, var(--bg-slide-dual) 75%, var(--bg-slide-dual));
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
